In [1]:
import json
import pandas as pd

In [2]:
with open('../data/top18_teams_dec_2021.json', 'r', encoding='utf-8') as team_file:
    data_teams = json.load(team_file)

In [3]:
teams_data =  pd.read_csv('../data/team_stats.csv')
teams_data

,Unnamed: 0,name,country,total_maps,kd_diff,kd,rating
0,0,Grayhound,Australia,553,7229,1.16,1.07
1,1,Recca,Indonesia,280,1816,1.08,1.07
2,2,Kings,Australia,122,1922,1.20,1.07
3,3,Flash,China,316,1559,1.06,1.07
4,4,DarkPassage,Turkey,122,1177,1.11,1.06
...,...,...,...,...,...,...,...
356,356,Unicorns of Love,Germany,178,-1536,0.90,0.95
357,357,EMP,China,125,-556,0.95,0.94
358,358,Bulldozer,Brazil,106,-814,0.92,0.94
359,359,Dynasty,Australia,101,-473,0.95,0.93
360,360,PC419,Australia,108,-1419,0.86,0.93

In [4]:
dados = ['country','total_maps','kd_diff','kd','rating']

times = []

for team in data_teams:
    times.append(team['name'])
    if team['name'] == 'MOUZ':
        data = teams_data[teams_data['name']=='mousesports']
    else:
        data = teams_data[teams_data['name']==team['name']]

    for dado in dados:
        team[dado] = str(data[dado].iloc[0])

times

['Natus Vincere',
 'Vitality',
 'G2',
 'Gambit',
 'Heroic',
 'Virtus.pro',
 'NIP',
 'FaZe',
 'Astralis',
 'Entropiq',
 'FURIA',
 'Liquid',
 'ENCE',
 'Copenhagen Flames',
 'OG',
 'BIG',
 'MOUZ',
 'fnatic']

In [5]:
teams_data[teams_data['name']=='mousesports']['country'].iloc[0]

'Europe'

In [6]:
with open('../data/top18_teams.json', 'w', encoding='utf-8') as new_teams_file:
    json.dump(data_teams, new_teams_file)

In [7]:
with open('../data/top20_players_2020.json', 'r', encoding='utf-8') as player_file:
    data_players = json.load(player_file)

In [8]:
players_dataset =  pd.read_csv('../data/player_stats.csv')
players_dataset

,Unnamed: 0,name,country,teams,total_maps,total_rounds,kd_diff,kd,rating
0,0,ZywOo,France,"['Vitality', 'aAa']",854,22399,5248,1.38,1.28
1,1,s1mple,Ukraine,"['Natus Vincere', 'FlipSid3']",1429,37717,8070,1.33,1.25
2,2,deko,Russia,['1WIN'],190,5096,1250,1.42,1.24
3,3,saffee,Brazil,['paiN'],202,5383,1211,1.37,1.24
4,4,sh1ro,Russia,"['Gambit', 'Gambit Youngsters']",744,19780,4593,1.43,1.22
...,...,...,...,...,...,...,...,...,...
1864,1864,SPAMMER,United States,"['Variance', 'Rap Gang', 'Levitate', 'Under 21']",135,3458,-756,0.70,0.74
1865,1865,valens,United States,"['Complexity', 'Complexity', 'Nihilum', 'ImPer...",251,6594,-1459,0.69,0.74
1866,1866,breaker,Australia,"['munyanyo', 'seadoggs', 'Rooster']",132,3160,-749,0.69,0.73
1867,1867,frgd,Indonesia,['nxl'],130,3196,-822,0.65,0.70
1868,1868,OverDrive,Russia,"['Nostalgie', 'tomorrow will be better']",132,3364,-908,0.63,0.68

In [9]:
dados = ['country','total_maps','total_rounds','kd_diff','kd','rating']

jogadores = []

for player in data_players:
    jogadores.append(player['nick'])
    data = players_dataset[players_dataset['name']==player['nick']]

    for dado in dados:
        player[dado] = str(data[dado].iloc[0])
jogadores

['ZywOo',
 's1mple',
 'device',
 'NiKo',
 'electronic',
 'blameF',
 'ropz',
 'EliGE',
 'dupreeh',
 'syrsoN',
 'Magisk',
 'stavn',
 'huNter-',
 'yuurih',
 'Brollan',
 'HEN1',
 'KRIMZ',
 'KSCERATO',
 'jks',
 'Brehze']

In [10]:
with open('../data/top20_players.json', 'w', encoding='utf-8') as new_players_file:
    json.dump(data_players, new_players_file)